#!/bin/bash
# Paths used by Rofi scripts
export VAULT_ROOT="$HOME/github/writings"
export NOTE_DIR="$VAULT_ROOT"
export KANBAN_DIR="$VAULT_ROOT/40 - Course"
export TEMPLATE_DIR="$VAULT_ROOT/templates"
export OBSIDIAN_BIN="/home/yeasin/.local/bin/obsidian"
export VAULT_NAME="writings"